nav[data-component="radial-menu"] a {
    -webkit-tap-highlight-color: transparent;
}

nav[data-component="radial-menu"] > a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    background-color: #333;
    z-index: 1;
}

nav[data-component="radial-menu"] > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav[data-component="radial-menu"] > ul > li {
    position: absolute;
}

nav[data-component="radial-menu"]:not(.open) > ul > li {
    visibility: hidden;
}

nav[data-component="radial-menu"] > ul > li > a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: absolute;    
    border-radius: 50%;
    background-color: #333;
}
